<!DOCTYPE html>
<html>
<head>
    <title>Document Upload Search</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .small-logo {
            width: 50px; /* Adjust width as needed */
            height: auto; /* Maintain aspect ratio */
        }
        div#loading {
        width: 35px;
        height: 35px;
        display: none;
        background: url(/static/loadingimage.gif) no-repeat;
        cursor: wait;
        }
    </style>
</head>
<body>
    <h1>Document Upload Search</h1>
    <form action="/search" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="pdf">Upload Document (PDF,DOCX,TXT):</label>
        <input type="file" id="pdf" name="pdf" accept=".pdf, .txt, .docx" required><br><br>

        <label for="query">Question:</label>
        <input type="text" id="query" name="query" required><br><br>

        <input type="submit" value="Search">
    </form>
    <!-- Optionally, add navigation links to other search forms -->
    <form action="/" method="GET">
        <div class="back-button">
            <button type="submit" onclick="loading();" class="search-button">Home</button>
        </div>
    </form>
</body>
</html>
