<!DOCTYPE html>
<html>
<head>
    <title>Document Link Search</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .small-logo {
            width: 50px;  /* Adjust as needed */
            height: 275px;
        }
    </style>
</head>
<body>
    <h1>Document Link Search</h1>
    <form action="/index_from_link" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        
        <label for="pdf_link">Enter Public Link (PDF,DOCX,TXT):</label>
        <input type="text" id="pdf_link" name="pdf_link" required><br><br>
        
        <label for="query">Question:</label>
        <input type="text" id="query" name="query" required><br><br>
        
        <input type="submit" value="Search">
    </form>
    <!-- Optionally, add navigation links to other search forms -->
    <form action="/" method="GET">
        <div class="back-button">
            <button type="submit" class="search-button">Home</button>
        </div>
    </form>
</body>
</html>
