<!DOCTYPE html>
<html>
<head>
    <title>Video Link Search</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .small-logo {
        width: 50px;  /* Adjust as needed */
        height: 275px;
    }
    </style>
</head>
<body>
    <img id="logo" class= "small-logo" src="/static/images/bookwitharmsandlegs.jpg" alt="A description of the image">
    <h1>Video Link Search</h1>
    <form action="/video_transcribe" method="POST">
        <label for="video_link">Enter Video Link:</label>
        <input type="text" id="video_link" name="video_link" required><br><br>
        
        <label for="query">Search:</label>
        <input type="text" id="query" name="query" required><br><br>
        
        <input type="submit" value="Transcribe and Search">
    </form>
    <!-- Optionally, add navigation links to other search forms -->
</body>
</html>
